# Build
**/build/
.gradle/
local.properties

# IDE
.idea/
*.iml
.DS_Store

# Signing
*.jks
*.keystore

# Fastlane
fastlane/play-store-credentials.json
fastlane/report.xml
fastlane/README.md
vendor/
.bundle/
